{% extends "layout.html" %}

{% block title %}
Index - Raksul Whiteboard
{% endblock %}

{% block external_script %}
<script src="{{ url_for('static',filename='js/fabric.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/index.js') }}"></script>
{% endblock %}

{% block script %}
const result = {{ result|tojson }};
{% endblock %}

{% block content %}
<h1 class="cover-heading">Better Systems, Better World.</h1>
<p class="lead">
  Raksul aims to change the world by reinventing legacy industry structures with the power of the Internet.
</p>
<div id="canvas-wrapper">
  <canvas id="canvas" width="800" height="600"></canvas>
</div>
{% endblock %}