{% extends "layout.html" %}

{% block external_css %}
<!-- Dropzone CSS -->
<link rel="stylesheet" href="https://cdn.rawgit.com/enyo/dropzone/master/dist/dropzone.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block external_script %}
<!-- Dropzone JS -->
<script src="https://cdn.rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<script src="{{ url_for('static',filename='js/upload.js') }}"></script>
{% endblock %}

{% block upload_active %}
active
{% endblock %}

{% block content %}
<h1 class="cover-heading">Made diagramming more enjoyable.</h1>
<p class="lead">
  Organize ideas by handwriting, share them prettier.
</p>

<div class="container">
  <form action="/" class="dropzone dz-clickable" id="MyDropzone">
    <div class="dz-message d-flex flex-column">
      <i class="material-icons text-muted">cloud_upload</i>
      Drag &amp; Drop here or click
    </div>
  </form>
</div> <!-- /container -->
<div class="container" id="buttons-wrapper">
  <div class="row">
    <div class="col">
      <a href="{{ url_for('analyzing') }}" class="btn btn-secondary" id="analyze-btn">Analyze it!</a>
    </div>
  </div>
</div>
{% endblock %}